!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 #{@commissioner} invited you to a league in Heavy Metal!
    %h2 First League?
    %p
      %span If this is your first Heavy Metal league,
      %span= link_to "sign up", new_user_registration_url()
      %span for an account first, then come back to this email for your league-specific information.
    %h2 Got your account?
    %p Already have an account, or just completed step one? Now you can accept the invitation to your league!
    %p
      Enter your League Key, which is <strong>#{@league_key}</strong> on the
      %span= link_to "#{@league.name} league page.", league_url(@league_id)
    %h2 League Key: <strong>#{@league_key}</strong>
