%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.input :username, required: true, autofocus: true, label: 'Display Name'
  .form-actions
    = f.button :submit, "Sign up"
%h2 Already have an account?
= render "devise/shared/links"
