- if current_user == @user
  %h1.profile_h1 Your Profile
  %p.profile_edit_link= link_to "(edit)", edit_user_registration_path
- else
  %h1.profile_h1 #{@user.email}'s Profile

- if current_user == @user
  %table
    %thead
      %th League Name
      %th Commissioner
      %th Active
      %th Delete
    %tbody
      - @user.memberships.each do |membership|
        - league = membership.league
        %tr
          %td= link_to "#{league.name}", league_path(league.id)
          %td= league.commissioner.username
          %td
            - if league.active
              = "Yes"
          %td
            - if league.commissioner == @user
              = link_to "Delete", league_path(league.id), :method => :delete, :confirm => 'This is irreversible. Are you sure you want to permanently delete this league?'
