- p1 = @match.match_members.first.user
- p2 = @match.match_members.last.user
-if
  %h1.finished_match
    %span.winner #{p1.username}
    vs. #{p2.username}
- else
  %h1.finished_match
    %span.winner #{p2.username}
    vs. #{p1.username}
%h2.draft_h2= link_to "#{@league.name}", league_path(@league.id)

%h2 Stats
%table
  %thead
    %th Team
    %th Rank
    %th Last Name
    %th First Name
    %th Spots
    %th Hits
    %th Kills
    %th Sneaks
    %th Flag Grabs
    %th Flag Captures
    %th.damage Injuries
  %tbody
  - @match.match_tokens.each do |match_token|
    - soldier = match_token.token.units.first.soldiers.first
    %tr
      %td= match_token.side
      %td= soldier.get_rank
      %td= soldier.last_name
      %td= soldier.first_name
      %td= soldier.spots
      %td= soldier.hits
      %td= soldier.kills
      %td= soldier.sneaks
      %td= soldier.grabs
      %td= soldier.captures
      %td= soldier.damage
%h2 Detailed Results
- @log.each do |event|
  %p= event
